 .header-border {
     border-bottom: 1px solid #ECECEC;
 }
 
 .menu {
     display: flex;
     align-items: center;
 }
 
 .navigation-menu {
     display: flex;
     column-gap: 50px;
 }
 
 .navigation-link {
     padding: 32px 0;
     font-family: Roboto;
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
     color: var(--primary-text-color);
     text-decoration: none;
     display: block;
     transition-property: color;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     &:hover,
     &:focus {
         color: var(--accent-color);
     }
 }
 
 .navigation-menu__point {
     position: relative;
 }
 
 .current {
     color: var(--accent-color);
     &::after {
         position: absolute;
         bottom: -1px;
         left: 0;
         content: "";
         display: block;
         background: var(--accent-color);
         border-radius: 2px;
         width: 100%;
         height: 4px;
     }
 }
 
 .contact-list {
     display: flex;
     column-gap: 50px;
     margin-left: auto;
 }
 
 .top-list {
     font-family: Roboto;
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
     color: var(--paragraph-text-color);
     text-decoration: none;
     display: flex;
     align-items: center;
     transition-property: color;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     &:hover,
     &:focus {
         color: var(--accent-color);
     }
 }
 /* _______________svg contact_________________ */
 
 .contact-svg {
     fill: var(--paragraph-text-color);
     margin-right: 10px;
     transition-property: fill;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     transition-delay: 0ms;
     .top-list:hover &,
     .top-list:focus & {
         fill: var(--accent-color);
     }
 }